@page
@{
    ViewBag.Title = "Role";
}
@section scripts {
    <script type="module" src="@Url.Content("/src/Pages/Roles/Index.js")"></script>
}
<!-- ----------------------------------------------------------------------------
     Developer:      Ismail Hamzah
     Email:         go2ismail@gmail.com
---------------------------------------------------------------------------- -->

<div id="app" v-cloak data-key="Role:Read">
    <div v-if="pageLoading">
        <div>Loading...</div>
        <indoloading />
    </div>
    <div v-else>
        <h4>@ViewBag.Title List</h4>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <indosearchbox v-on:search-action="handleSearchAction" />
        </div>

        <div v-show="hasClaimAccess('Role:Create')" class="d-flex justify-content-end">
            <button class="btn btn-primary ms-auto" v-on:click="handleClickCreate">
                <i class="bi bi-plus"></i>
            </button>
        </div>

        @* data list / data table *@
        <div>
            <indotable :columns="columns"
                       :data="paged.data"
                       :limit="paged.limit"
                       :page="paged.page"
                       :pages="paged.pages"
                       :total-records="paged.totalRecords"
                       :total-pages="paged.totalPages"
                       :table-loading="paged.tableLoading"
                       :sort-by="paged.sortBy"
                       :sort-direction="paged.sortDirection"
                       :selected-row="paged.selectedRow"
                       v-on:table-action="handleTableAction"
                       v-on:table-action-rowclick="handleTableActionRowClick" />

        </div>

        @* data detail / data form *@
        <div v-show="paged.selectedRow" class="mt-5">
            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 v-show="pageMode.read">Selected Data</h4>
                    <h4 v-show="pageMode.create">Create Data</h4>
                    <h4 v-show="pageMode.update">Update Data</h4>
                    <h4 v-show="pageMode.delete">Delete Data</h4>
                    <div class="d-flex align-items-center">
                        <button v-show="paged.selectedRow?.id && hasClaimAccess('Role:Update')" class="btn btn-primary me-2" v-on:click="handleClickEdit">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button v-show="paged.selectedRow?.id && hasClaimAccess('Role:Delete')" class="btn btn-danger" v-on:click="handleClickDelete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>

                <form v-on:submit.prevent="handleSubmitForm">

                    <div class="card shadow-sm">
                        <div class="card-header bg-secondary text-white">
                            <h5 class="card-title mb-0">{{ paged.selectedRow?.name ?? 'N/A' }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="card-footer">
                                <h6 class="fw-bold">Detail:</h6>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="width: 25%;"><strong>Name</strong></td>
                                                <td style="width: 5%;">:</td>
                                                <td style="width: 70%;">
                                                    <div v-show="pageMode.read || pageMode.delete">
                                                        {{ paged.selectedRow?.name ?? 'N/A' }}
                                                    </div>
                                                    <div v-show="pageMode.create || pageMode.update" class="mb-3">
                                                        <input v-model="formData.name" type="text" class="form-control" id="name" placeholder="Enter Name" required>
                                                        <span v-if="errorData.name" class="text-danger">{{ errorData.name }}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div v-show="pageMode.create || pageMode.update" class="card-footer text-end">
                            <button type="button" class="btn btn-secondary me-2" v-on:click="handleClickClose">
                                <i class="bi bi-arrow-left"></i> Close
                            </button>
                            <indobutton v-show="hasClaimAccess('Role:Create') || hasClaimAccess('Role:Update')" :type="'submit'"
                                        :is-submitting="isSubmitting"
                                        submitting-text="Submitting..."
                                        button-class="btn btn-primary">
                                <i class="bi bi-plus"></i> Submit
                            </indobutton>
                        </div>

                    </div>
                </form>

                <div v-show="successMessage" class="alert alert-success mt-4 text-center">
                    {{ successMessage }}
                </div>

                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-footer">
                            <h6 class="fw-bold">Claims:</h6>
                            <div v-if="roleClaims && Object.keys(roleClaims).length">
                                <div class="card-body">
                                    <div class="card-footer">
                                        <table class="table-light">
                                            <thead>
                                                <tr>
                                                    <th>Entity</th>
                                                    <th>Create Access</th>
                                                    <th>Read Access</th>
                                                    <th>Update Access</th>
                                                    <th>Delete Access</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(accessTypes, entity) in roleClaims" :key="entity">
                                                    <td>{{ entity }}</td>
                                                    <td>
                                                        <input type="checkbox" v-model="accessTypesSelected[entity].Create"
                                                               v-bind:disabled="pageMode.read || pageMode.delete" />
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" v-model="accessTypesSelected[entity].Read"
                                                               v-bind:disabled="pageMode.read || pageMode.delete" />
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" v-model="accessTypesSelected[entity].Update"
                                                               v-bind:disabled="pageMode.read || pageMode.delete" />
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" v-model="accessTypesSelected[entity].Delete"
                                                               v-bind:disabled="pageMode.read || pageMode.delete" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <p>No roles available.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


