@page
@{
    Layout = "~/Pages/Shared/_Auth.cshtml";
    ViewBag.Title = "Forgot Password";
}

@section scripts {
    <script type="module" src="@Url.Content("/src/Pages/Accounts/ForgotPassword.js")"></script>
}
<!-- ----------------------------------------------------------------------------
     Developer:      Ismail Hamzah
     Email:         go2ismail@gmail.com
---------------------------------------------------------------------------- -->

<div id="app" v-cloak>
    <!-- Loading Screen -->
    <indoloading v-if="pageLoading"></indoloading>

    <!-- Main Content -->
    <div v-if="!pageLoading" class="mt-5">
        <h1 class="text-center mb-4">
            <a href="/Index" style="color: var(--header-bg);">
                <i class="bi bi-house-fill" style="color: var(--header-bg);"></i>
            </a>
            Forgot Password Form
        </h1>
        <form v-on:submit.prevent="handleForgotPasswordSubmit" class="mx-auto">
            <div class="mb-3">
                <label for="forgotPasswordEmail" class="form-label">Email:</label>
                <input type="email" v-model="forgotPasswordForm.email" id="forgotPasswordEmail" class="form-control" placeholder="Enter your email" required />
                <div v-if="forgotPasswordErrors.email" class="text-danger">{{ forgotPasswordErrors.email }}</div>
            </div>
            <indobutton type="'submit'"
                        :is-submitting="isSubmitting"
                        submitting-text="Submitting..."
                        default-text="Forgot Password"
                        button-class="btn btn-primary w-100 mt-3">
            </indobutton>
        </form>

        <!-- Success Message -->
        <div v-if="successMessage" class="alert alert-success mt-4 text-center">
            {{ successMessage }}
        </div>

    </div>
</div>
